# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnpm-store

# Build output
/.next/
/out/

# Prisma
# The client is generated on postinstall, so it should not be versioned.
/generated/

# Vercel
.vercel

# Misc
.DS_Store
*.pem

# Environment variables
.env
.env*.local
.env*.production
.env*.development